@using WebBanHang.ViewModels
@model UserWithRoleVM

@{
    ViewData["Title"] = "Details";
}

<h2>User Info</h2>


<div class="form-group">
    <label asp-for="UserId">User ID:</label>
    <input asp-for="UserId" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="FirstName">First Name:</label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="LastName">Last Name:</label>
    <input asp-for="LastName" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Email">Email:</label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Roles">Roles:</label>
    <input asp-for="Roles" class="form-control" readonly />
</div>

<a asp-action="Index">Back to list</a>

