@model WebBanHang.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<style>

    .form-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

</style>

<div class="container" style="padding-top: 20px">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên Sản Phẩm</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MenuId" class="control-label">Danh Mục</label>
                    <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuName">
                        <option disabled selected>Chọn Danh Mục</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">Hình Ảnh</label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label">Giá</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="OldPrice" class="control-label">Giá cũ</label>
                    <input asp-for="OldPrice" class="form-control" />
                    <span asp-validation-for="OldPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Number" class="control-label">Số Lượng</label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-2 d-flex justify-content-center" >
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
