@model WebBanHang.ViewModels.EditProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container mt-4">
    <h2>Chỉnh sửa thông tin sản phẩm @Model.Name</h2>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.Hidden("ProductId", Model.ProductId)

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên Sản Phẩm</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MenuId" class="control-label">Danh Mục</label>
                    <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuName">
                        <option disabled selected>Chọn Danh Mục</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">Hình Ảnh</label>
                    <input asp-for="ImageFile" class="form-control" type="file" id="imgProduct" accept="image/*" value=""/>
                    <img src="@Model.OldImage" class="img-thumbnail" id="imgPreview"/>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label">Giá</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="OldPrice" class="control-label">Giá cũ</label>
                    <input asp-for="OldPrice" class="form-control" />
                    <span asp-validation-for="OldPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Number" class="control-label">Số Lượng</label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-2">
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>

<script>
    let imgProduct = document.getElementById("imgProduct");
    let imgPreview = document.getElementById("imgPreview");

    imgProduct.onchange = evt => {
    const [file] = imgProduct.files;
        if (file) {
            imgPreview.src = URL.createObjectURL(file)
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
